@import url("https://fonts.googleapis.com/css?family=Lato|Special+Elite");

body {
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  color: #08090A;
}

p {
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  color: #08090A;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Special Elite, monospace;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
}


.caption {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  font-family: Special Elite, monospace;
}

nav {
  list-style-type: none;
  background: #08090A;
}

nav a {
  display: flex;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
}

nav a:hover {
  color: #08090A;
  background: #F4FAFF;
}

nav ul {
  flex-direction: column;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.slideshow h2 {
  text-align: center;
}

.TemplePhoto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.slideshow img{
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navigation li:first-child,
nav ul {
  display: flex;
}

.navigation li {
  display: none;
}

.MenuTemples nav{
  background-color: #1F487E;
  }

.MenuTemples li:first-child,
nav ul {
  background-color: #1F487E;
}

.MenuTemples li {
  background-color: #1F487E;
}

.MenuTemples a {
  background-color: #1F487E;
}

.responsive li {
  display: flex;
}

nav ul:first-child {
  background: #08090A;
  margin: .2rem 2%;
  border: none;
  font-size: 1.2rem;
  color: #FFFFFF;
  justify-content: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

.spaces {
  display: none;
}

header,
main {
  align-content: center;
}

header {
  background: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

#motto {
  font-family: Special Elite, monospace;
  text-align: center;
  font-size: 15px;
  
}

.active {
  color: #FFFFFF;
  background: #1F487E;
}

#hero {
  width: 100%;
  display: block;
  margin: auto;
}

.mainhero {
  position: relative;
}

footer p {
  background: #08090A;
  color: #FFFFFF;
  max-width: 960px;
  height: 20px;
  align-content: center;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0px;
}

#class {
  max-width: 100%;
}


#contact-form {
  font-weight: bold;
  background: #F4FAFF;
  color: #08090A;
  flex-flow: row;
  justify-content: center;
  width: 350px;
  padding: 30px;
  margin: 0 auto;
}

#formulario {
  font-weight: bold;
  background: #F4FAFF;
  color: #08090A;;
}

.submitbutton {
  text-align: center;
  background: #FB3640;
  color: #08090A;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px 2px #08090A;
  width: 350px;
  height: 50px;
}

.blue {
  color: #1F487E;
  font-weight: bold;
}

.black {
  color: #08090A;
}

.white {
  color: #FFFFFF;
}

.InfoLabel {
  color: #08090A;
  font-weight: bold;
}

.TempleGeneralInfo {
  margin: 0 auto;
  box-sizing: border-box;
  height: auto;
  background: #F4FAFF;
  padding: .5rem;
  font-size: 18px;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.CurrentLabel {
  color: #08090A;
  font-weight: bold;
}

.CurrentWeather {
  margin: 0 auto;
  box-sizing: border-box;
  height: auto;
  background: #F4FAFF;
  padding: .5rem;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#thanks{
  text-align: center;
  color: #FB3640;
  font-weight: bold;
}
.action {
  text-align: center;
  background: #FB3640;
  color: #08090A;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px 2px #08090A;
  width: 350px;
  height: 50px;
}

.info {
  background: #F4FAFF;
  padding: 10px;
  overflow: auto;
}

.contact {
  background: #1F487E;
  color: #FFFFFF;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  text-align: center;
  font-size: 12px;
}

.contactinfo p{
  background: #1F487E;
  color: #FFFFFF;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  text-align: center;
  font-size: 12px;
}

.map {
  display: none;
}

.Container {
  background-color: #F4FAFF;
  width: 375px;
  padding: 2em;
  border-radius: 0.2em;
  color: #1f1f1f;
  margin: 2em;
  -webkit-box-shadow: 2px 8px 16px 2px #08090A;
  -moz-box-shadow: 2px 8px 16px 2px #08090A;
  box-shadow: 2px 8px 16px 2px #08090A;

}
.Container img {
  border-radius: 2%;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 2px 8px 16px 2px #08090A;
  -moz-box-shadow: 2px 8px 16px 2px #08090A;
  box-shadow: 2px 8px 16px 2px #08090A;

}
.Container li {
  padding: 0.38em 0;
  list-style: none; 
}
.Container li:before {
  content: "\2022";
  color: #1F487E;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.gallery {
  display:block;
  width:auto;
  grid-template-columns: 1fr;
} 

a {
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

