*  { margin: 0; box-sizing: border-box; }

body {
    background-color: white;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    font-family: Ubuntu/;
    color: Black;
}
h1 {
    background-color:rgb(173, 172, 172);
    text-align: center;
    font-size: 40px;
    color: white;
}
h2 {
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 64px;
}
header, footer, footer a {
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
header img {
    width: 64px;
    height: auto;
    float: right;
}
footer {
    text-align: center;
    font-size: 16px;
}
