.lazylayout {
    display: grid; 
    justify-content: center;
    grid-auto-columns: 300px;
    text-align: center;
}

.hero {
    margin: 0 auto;
    width:100%;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
}     

img {
  margin: 7px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  max-width: 300px;
}

img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

h1 {
    font-weight: bolder;
  }