/*
fieldset[title=fieldset2] > p + p {
    background-color: red;
}
*/

/*
fieldset:nth-of-type(2) >p + p {
    background-color: blue;
}
*/

/*
div.help {
    background-color: green;
}
*/
div .help {
    background-color: green;
}
