/* Phone View */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 300;
    margin-left: auto; 
    margin-right: auto;
    max-width:900px;
}

.logo {
    display: flow-root;
    border-style: solid;
    border-radius: 25px;
    width:150px;
    box-shadow:0px 0px 15px;
    border:1px solid #000;
}

header {
    background-color: #0B8066;
    font-family: 'Yeseva One', cursive;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.hero, .forcast, .article, .contact {
    display: block;
    margin: 10px auto;
    background-color: #E5E9EA;
    box-shadow: inset 0 0 6px;
    border: 1px dashed black;
    text-align: center;
    line-height: 3rem;
}

#lastMod {
    font-size: 0.7rem;
    text-align: center;
    color: #5caed0;   
}

footer {
    background-color: #0B8066;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    border-radius: 10px;
    text-align: center;
    color: #E5E9EA;
    align-items: center;
}
footer a{
    color: #E5E9Ea;
}
.headings {
    margin: 0 0 0 17px;
}

.slogan {
    margin-left: 20px;
    color: #E5E9EA;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    text-shadow: 2px 2px black;
}

ul {
    margin: 0;
}

nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #5CAED0;
    border:1px solid #000;
    box-shadow: inset 0 0 6px;
}

.navigation {
    padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    color: #E5E9Ea;
	font-family: 'Yeseva One', cursive;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}

.navigation a:hover {
    background-color: #E5E9Ea;
    color: #0B8066;
    border-radius:10px;
    box-shadow: inset 0 0 6px;
}

.responsive li {
	display: block;
}

a {
    color: #0B8066;
    text-decoration: none;
}

a:hover {
    color: #E5E9EA;
}

h1 {
    color: #5caed0;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    margin: 0 auto;
}

h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 1.3rem;
    line-height: 5rem;
    font-weight: bold;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    margin: 0;
    border:1px solid #000;
    box-shadow: inset 0 0 6px;
}

h4 {
    color: #E5E9EA;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    text-shadow: 2px 2px black;
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
}