@import 'reset';
@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$black: black;
$blue: blue;
$body-font: #020202;
$byui-blue: #056cb6;
$dark-gray: #727272;
$green: green;
$light-gray: #eaeaea;
$link-blue: #0076b6;
$medium-gray: #b4b3b5;
$soft-gray: #f8f9fa;
$white: white;

//mixins
@mixin spanTags {
  span {
      display: block;
      text-align: left;
      width: 100%;
    }
    span + span {
      align-self:flex-end;
      display: block;
      text-align: right !important;
      width: 20%;
    }
}
// Utility classes
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.site-banner {
  align-items:center;
  background-color: $byui-blue;
  display: flex;
  height: 60px;
  justify-content:center;
}

.icon-byui-logo::before {
  color: $white;
  font-size: 30px;
}

.site-banner__left {
  align-items:center;
  background-color: $black;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content:center;
  padding: 10px;
}

.site-banner__right {
  display: flex;
  justify-content:flex-end;
  width: 100%;
}

.icon-search:before,
.icon-audience:before,
.icon-menu:before {
  color: $white;
  font-size: 30px;
  padding: 0 10px;
}

.header-title {
  background-color:$light-gray;
  border-bottom: 1px solid $dark-gray;
  height: auto;
  padding: 15px 0;
  width: 100%;
    h2 {
      font-family: 'BYUI Open Sans';
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
}

.space-empty {
  height: 30px;
  width:100%;
}

.baner_first {
  img {
    height: auto;
    padding: 15px;
    width: 100%;
  }
  margin-bottom: 20px;
}

#boxs-links,
.box-two,s
.box-three,
.box-four {
  //box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
}
.box{
  border: 1px solid $medium-gray;
  height: auto;
  margin-bottom: 40px;
  width: 100%;
  
  img {
    display: block;
    height: auto;
    width: 100%;
  }
  a {
    align-items: center;
    align-items: flex-start;
    background-color: $white;
    color: $byui-blue;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 9px 12px;
    @include spanTags;
  }
}

.getInformation {
  position: relative;
  width: 100%;
  a.botonList {
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    color: $body-font;
    display: flex;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 100%;
    @include spanTags;

    .getInformation:hover #information-list{
      display: block;
    }
  }
  
  #information-list {
    box-shadow: (rgba($blue, 0.4) 0 0 25px, rgba($green, 0.2) 0 0 3px 1px inset);
    display: none;
    left: 0;
    position: absolute;
    top: 38px;
    width: 100%;
    a {
      background-color: $white;
      border-bottom: 1px solid $medium-gray;
      color: $byui-blue;
      display: block;
      padding: 15px;
      width: 100%;
    }
  }
  margin-bottom: 30px;
}

.resources
{
  h3 {
    background-color: $dark-gray;
    color: $white;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 15px;
  }
  div {
    a {
      background-color: $light-gray;
      background-color: $soft-gray;
      border-bottom: 1px solid $medium-gray;
      color: $link-blue;
      display: flex;
      padding: 10px 15px;
      width: 100%;
      @include spanTags;
    }

    a:hover{
      background-color: $light-gray;
    }

      border-left: 1px solid $medium-gray;
      border-right: 1px solid $medium-gray;
  }
  margin-bottom: 30px;
}

.importantDates {
  h3.highlights-heading {
    background-color: $byui-blue;
    color: $white;
    font-size: 22px;
    padding: 10px 20px;
  }
  div {
    a {
      border-bottom: 1px solid $medium-gray;
      color: $body-font;
      display: flex;
      font-size: 13px;
      padding: 10px 15px;
      
      div {
        font-weight: bold;
        width:25%;
      }

      span{
        width:10%;
      }

      span+div {
        font-weight: normal;
        text-align: left;
        width:100%;
      }
    }
    a:hover{
      background-color: $light-gray;
      color:$link-blue;
    }
  }
}

.box-three {
  h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    margin: 36px 0 24px 0;
  }

  article {
    border-top: 1px solid #B4B3B5;
    padding: 25px 0;
    
    div.post-image {
        display: none;
      }

    div.post-image+div {
      h4 {
        margin-bottom: 12px;
        margin-top: 18px;
        
        a {
          color: $link-blue;
          font-size: 17px;
          font-weight: 500;
          margin-bottom: 12px;
        }
      }
      .article-date {
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 6px;
        text-transform: uppercase;
      }
      p.article-abstract {
        font-weight: 300;
        line-height: 24px;
        margin: 0 0 24px;
        margin-bottom: 12px;
      }
    }
  }
}

.box-four {
  h5 {
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 600;
    margin: 0;
    padding: 12px 16px;
    z-index: -1;
  }

  div {
    border-bottom: 1px solid #B4B3B5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #B4B3B5;
    border-right: 1px solid #B4B3B5;
    padding: 7px;
    
    a{
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}

//Large view

@media only screen and (min-width: 1028px)
{
  main{
    max-width: 1140px;
    margin: 0 auto;
    #boxes
    {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-gap: 30px;
      justify-content: center;
      .box-one
      {
        padding: 0;
        .baner_first
        {
          img{
            padding: 0;
          }
        }
      }
      .box-two
      {
        padding: 0;
      }
      .box-three{
        article
        {
          display: flex;
          flex-direction: row;
          div.post-image
          {
            display: block;
            margin-right: 35px;
            img{
              width: 165px;
            }
          }
        }
      }
    }

    #boxs-links
    {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      padding: 0;
    }
  }
  
}