@import 'reset';
@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}


.site-banner
{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: $byui-blue;

  height: 60px;
}

.icon-byui-logo::before
{
  color: white;
  font-size: 30px;
}
.site-banner__left
{
  display: flex;
  justify-content:center;
  align-items:center;

  box-sizing: border-box;
  background-color: black;
  
  padding: 10px;
  height: 60px;
}
.site-banner__right
{
  display: flex;
  justify-content:flex-end;

  width: 100%;
}

.icon-search:before
.icon-audience,
.icon-menu:before,
.icon-user,
.icon-magnifying-glass:before
{
 font-size: 15px;
 color: white;
 padding-right:15px;
}
