/* Phone View */
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');


//***********variables******************//

//fonts
$lora-font: 'Lora', serif;
$helvetica-font: Helvetica, Arial, sans-serif;

//colors
$ivory-color: #FAEBD7;
$blue-color: #6495ED;
$ochre-color: #DEB887;
$gray-color: gray;
$white-color: white;
$black-color: black;

//**************************************//

//***********Mixins******************//

@mixin margin-20 {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin padding {
  padding-left: 20px;
  padding-top: 20px;
}

@mixin display-block {
  display: block;
  -webkit-display: block;
  -mox-display: block;
  -o-display: block;
  -ms-display: block;
}
//**************************************//

h1 {
  text-align: right;
  font-family: $lora-font;
  margin-top: 0;
}

h2 {
  font-family: $lora-font;
  margin-top: 0;
  @include margin-20;   //Mixin
}

p {
  @include margin-20;   //Mixin
}

.post-date {
  @include padding;    //Mixin
  padding-bottom: 5px;
  color: $gray-color;
}

header {
  background-color: $blue-color;
  padding: 50px 25px 10px;
}

li {
  list-style: none;
  text-align: right;
  line-height: 30px;
}

img {
  @include display-block;  //Mixin
  width: 200px;
  margin: 0 auto;
}

//*********************Nesting************************//

body {
  width: 375px;
  margin: 0 auto;

  ul li a {
    font-family: $helvetica-font;
  }
}

a {
  text-decoration: none;
  color: $ivory-color;

  &:visited {
    text-decoration: none;
    color: $ivory-color;
  }

  &:active {
    color: $ochre-color;
  }

  &:hover {
    text-decoration: underline;
    color: white-color;
  }
}

article {
  background-color: white-color;

  a {
    text-decoration: none;
    color: $black-color;

    &:visited {
      text-decoration: none;
      color: $black-color;
    }

    &:active {
      color: $ochre-color;
    }

    &:hover {
      text-decoration: underline;
      color: $blue-color;
    }
  }

  p {
    padding-bottom: 20px;
  }
}

main {
  background-color: $ivory-color;
  padding: 50px 20px 20px 30px;

  article p a {
    text-decoration: none;
    color: $blue-color;

    &:visited {
      text-decoration: none;
      color: $blue-color;
    }

    &:active, &:hover {
      text-decoration: underline;
      color: $ochre-color;
    }
  }
}
//****************************************************//
