/* Phone View */
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

//variables
$lora-font: 'Lora', serif;
$helvetica-font: Helvetica, Arial, sans-serif;
$ivory-color: #FAEBD7;
$blue-color: #6495ED;
$ochre-color: #DEB887;

h1, h2 {
  font-family: 'Lora', serif;
  margin-top: 0;
}

h1 {
  text-align: right;
}

h2, p {
  margin-left: 20px;
  margin-right: 20px;
}

.post-date {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: gray;
}

body {
  width: 375px;
  margin: 0 auto;
}

header {
  background-color: $blue-color;
  padding: 50px 25px 10px;
}

main {
  background-color: $main-color;
  padding: 50px 20px 20px 30px;
}

body ul li a {
  font-family: Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
  text-align: right;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: $main-color;

  &:visited {
    text-decoration: none;
    color: $main-color;
  }

  &:active {
    color: $ochre-color;
  }

  &:hover {
    text-decoration: underline;
    color: white;
  }
}

article {
  background-color: white;

  a {
    text-decoration: none;
    color: black;

    &:visited {
      text-decoration: none;
      color: black;
    }

    &:active {
      color: $ochre-color;
    }

    &:hover {
      text-decoration: underline;
      color: $blue-color;
    }
  }

  p {
    padding-bottom: 20px;
  }
}

img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

main article p a {
  text-decoration: none;
  color: $blue-color;

  &:visited {
    text-decoration: none;
    color: $blue-color;
  }

  &:active, &:hover {
    text-decoration: underline;
    color: $ochre-color;
  }
}