div {
    background: #36f;
    margin-bottom: 1em;
    width: 30px;
    height: 30px;
    position: relative;
    left: 0;
    transition: left 2s ease-in;
}
.moved {
    transform: translateX(1000px);
    /*left: 1000px;*/
}