// color palette - these colors will be the color swatches of the Colors section

$color-1: #D764A2; // Cornflower Blue - Action color
$color-2: #8C2D6B; // Dark Blue
$color-3: #1F1C3F; // Red
$color-4: #F2E8F2; // light grey
$color-5: #ffffff; // white
$success: #6fce72;
$alert:   #8C2D6B;