/* Phone View */
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

h1, h2 {
  font-family: 'Lora', serif;
}

h1 {
    text-align: right;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 400px;
    margin: 0 auto;
  }

header {
    background-color: #6495ED;
    padding: 50px 25px 10px;
  }

main {
    background-color: #FAEBD7;
    padding: 50px 20px 20px 30px;
}

li {
    list-style: none;
    text-align: right;
    line-height : 30px;
}

a:link {
    text-decoration: none;
    color: #FAEBD7;
}
  
a:visited {
    text-decoration: none;
    color: #FAEBD7;
  }
  
 a:active {
    color: #DEB887;
  }

a:hover {
    text-decoration: underline;
    color: white;
  }

article {
    background-color: white;
}

article a:link {
    text-decoration: none;
    color: black;
  }
  
article a:visited {
    text-decoration: none;
    color: black;
  }
  
article a:active {
    color: #DEB887;
  }

article a:hover {
    text-decoration: underline;
    color: #6495ED;
  }

.post-date {
    color: gray;
}
