/* Tablet View CSS */
@media only screen and (min-width: 40em) {
  body {
    font-size: 18px;
  }

  .map {
    display: contents;
    grid-area: right;
  }
  .contact {
    padding: 10px;
    display: grid;
    grid-template-areas: "left right";
    justify-items: center;
    font-size: 12px;
  }

  .contactinfo p{
    background: #1F487E;
    color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    text-align: center;
    font-size: 12px;
  }

    .spaces {
      display: contents;
    }

    .gallery {
      margin: 0 auto;
      width:100%;
      display:grid; 
      grid-template-columns: 1fr 1fr;
  } 
  }