*  { margin: 0; box-sizing: border-box; }
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 300;
	margin-left: auto; 
    margin-right: auto;
    max-width:900px;
}
@media only screen and (min-width: 37.5em) {
	/* Horizontal Flex Menu */
		nav ul { display: flex; }
        nav ul li { flex: 1 1 100%; }
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #0B8066;
	font-family: 'Yeseva One', cursive;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #0B8066;
    color: #E5E9Ea;
    border-radius:10px;
}
#footer {
    padding: 0.75em;
    font-size: 1em;
    text-align: center;
    color: #E5E9Ea;
}
#lastMod {
    padding: 0.75em;
    font-size: 1em;
    text-align: center;
    color: #5caed0;   
}
header, footer{
    margin: 1.25rem auto;
    padding:1rem;
    text-align: center;
    background-color: #0B8066;
    color: #E5E9EA;
}
header h1 {
    font-family: 'Yeseva One', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #5caed0;
}
header h3 {
    font-family: 'Yeseva One', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #E5E9EA;
}
main {
    font-size: 0.8rem;
	max-width:900px;
    margin:0 auto;
    font-size: 0.8rem;
    grid-template-columns: 1fr;
}
#menu {
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: #E5E9Ea;
    font-size: 2rem;
    color: #0B8066;
    text-align:center;
	margin-left: auto; 
    margin-right: auto;
    border-radius:10px;
	border: 1px solid #BBBBBB;
}
main section{
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: #EEEEEE;
    text-align:justify;
	border-radius:10px;
	border: 1px solid #BBBBBB;
}
main h2{
    font-size:1.5rem;
    color: #0B8066;
    margin-top:20px;
}
main h3{
    font-size:1rem;
    font-weight: 300;
    margin: 30px 0;
}
main a{
    color:rgb(68, 65, 65);
}

table, th, td {
    border: 2px solid #2a324b;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	margin-left: auto; 
    margin-right: auto;
    width: fit-content;
}
.black_color {
    background: #000000;
    color:#ffffff;
}

.blue_color {
    background: #5caed0;
    color: #000000;
}

.gray_color {
    background:#e5e9ea;
    color: #000000;
}
.green_color {
    background:#0b8066;
    color: #5caed0;
}
.white_color {
    background:#ffffff;
    color: #000000;
}


main section picture img{
    width:150px;
    height: auto;
    box-shadow:0px 0px 15px;
    border:1px solid #000;
}
main p{
    font-size:1rem;
    text-align:justify; 
}
section p {
    font-weight:500;
    padding:20px;
}
footer {
    font-size: 1.0rem;
    line-height: 1.5;
}
footer a{
    color: #E5E9Ea;
}