.area {
   border: gray solid;
   height: 320px;
   width: 460px;
}

.nose {
   fill:black;
}

.face-expression {
   fill:none;
   stroke:black;
   stroke-width:0.5;
}

.eye {
   fill:black;
}

.ear-head {
   fill:black;
   stroke:black;
}

.mouth {
   fill:black;
   stroke:black;
}

.color-face {
   fill:#DEB887;
}

.background-eye {
   fill:white;
   stroke:gray;   
}

.tongue {
   fill:red;
   stroke:black;
}

.black-line {
   fill:black;
   stroke:black;
   stroke-width:3;
}

.yellow-line {
   fill:yellow;
   stroke:yellow;
   stroke-width:3;
}

.dots{
   fill:black;
   stroke:black;
}
