/* Phone View */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 300;
    margin-left: auto; 
    margin-right: auto;
}

.logo {
    display: flow-root;
    border-style: solid;
    border-radius: 25px;
    width:100px;
    box-shadow:0px 0px 15px;
    border:1px solid #000;
}

header {
    width: 100%;
    background-color: #0B8066;
    font-family: 'Yeseva One', cursive;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.gallery {
    display:block;
    width:auto;
    grid-template-columns: 1fr;
} 

.hero img {
    width: 100%;
}

.hero {
    position: relative;
    max-width: 100%;
    width: 960px;
    display:block;
    margin:auto;
}

#PostOffice {
    width: 100%;
}

.CurrentWeather {
    position: absolute;
    top: 5px;
    left: 30px;
    background: radial-gradient(#eee, #0B8066);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    font-family: 'Yeseva One', cursive;
    color: #ffffff; 
    text-shadow: 2px 2px 5px black;
    font-size: 24px;
}

.CurrentWeather h2 {
    color: #ffffff; 
    text-shadow: 2px 2px black;
}

.CurrentLabel {
    justify-content: right;
}


.blue {
    color: #5caed0;
    text-shadow: 2px 2px black;  
    font-size: 24px;
}

td, th {
    border: 1px solid #000000;
}

th {
    color: #5caed0; 
    background-color: #0B8066;
    padding: 8px;
    width: 100px;
}

.pancakes {
    width: 100%;
    background-color: yellow;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.fivedaytable {
    display: none;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.authorquote{
    font-style: italic;
}
.ArticleSection img {
    max-width: 100%;
    width: 560px;
    display:block;
    margin:auto;
}
.ArticleSection {
    max-width: 960px;
    display: block;
    margin:auto;
    background-color: #E5E9EA;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
a.activepage:link {
    background-color: #0B8066;
    color: #E5E9EA;
    border-radius:10px;
    box-shadow: inset 0 0 6px;
}
a.activepage:visited {
    background-color: #0B8066;
    color: #E5E9EA;
    border-radius:10px;
    box-shadow: inset 0 0 6px;
}
a.activepage:hover {
    background-color: #0B8066;
    color: #E5E9EA;
    border-radius:10px;
    box-shadow: inset 0 0 6px;
}
a.preston:active {
    background-color: #0B8066;
    color: #E5E9EA;
    border-radius:10px;
    box-shadow: inset 0 0 6px;
}
.socialmedia {
    max-width:100%;
    width: 25px;
}
.map {
    display: none;
 }
.contact {
    max-width: 960px;
    display: block;
    margin:auto;
    background-color: #E5E9EA;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#lastMod {
    font-size: 0.7rem;
    text-align: center;
    color: #5caed0;   
}

footer {
    max-width:960px;
    background-color: #0B8066;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    border-radius: 10px;
    text-align: center;
    color: #E5E9EA;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
}
footer a{
    color: #E5E9Ea;
}
.headings {
    margin: 0 0 0 17px;
}

.slogan {
    margin-left: 20px;
    color: #E5E9EA;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    text-shadow: 2px 2px black;
}

ul {
    margin: 0;
}

nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #5CAED0;
    border:1px solid #000;
    box-shadow: inset 0 0 6px;
}

.navigation {
    padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    color: #E5E9Ea;
	font-family: 'Yeseva One', cursive;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}

.navigation a:hover {
    background-color: #E5E9Ea;
    color: #0B8066;
    border-radius:10px;
    box-shadow: inset 0 0 6px;
}

.responsive li {
	display: block;
}

a {
    color: #0B8066;
    text-decoration: none;
}

a:hover {
    color: #E5E9EA;
}

h1 {
    color: #5caed0;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    margin: 0 auto;
}

h2 {
    max-width:960px;
    font-family: 'Yeseva One', cursive;
    font-size: 1.3rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-left: auto; 
    margin-right: auto;
}

h3 {
    color: #5caed0;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    text-shadow: 2px 2px black;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    color: #E5E9EA;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    text-shadow: 2px 2px black;
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
}
/**********************/
div.clearfix
{
    clear: both;
}

span.authorquote,
p
{
 padding: 0px 15px;  
}